In [38]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from datetime import datetime
df = pd.read_csv('https://raw.githubusercontent.com/erood/interviewqs.com_code_snippets/master/Datasets/nyc_east_river_bicycle_counts.csv')

print(df.columns.values)

['Unnamed: 0' 'Date' 'Day' 'High Temp (°F)' 'Low Temp (°F)'
 'Precipitation' 'Brooklyn Bridge' 'Manhattan Bridge'
 'Williamsburg Bridge' 'Queensboro Bridge' 'Total']

In [3]:
df.head()

,Unnamed: 0,Date,Day,High Temp (°F),Low Temp (°F),Precipitation,Brooklyn Bridge,Manhattan Bridge,Williamsburg Bridge,Queensboro Bridge,Total
0,0,2016-04-01 00:00:00,2016-04-01 00:00:00,78.1,66.0,0.01,1704.0,3126,4115.0,2552.0,11497
1,1,2016-04-02 00:00:00,2016-04-02 00:00:00,55.0,48.9,0.15,827.0,1646,2565.0,1884.0,6922
2,2,2016-04-03 00:00:00,2016-04-03 00:00:00,39.9,34.0,0.09,526.0,1232,1695.0,1306.0,4759
3,3,2016-04-04 00:00:00,2016-04-04 00:00:00,44.1,33.1,0.47,521.0,1067,1440.0,1307.0,4335
4,4,2016-04-05 00:00:00,2016-04-05 00:00:00,42.1,26.1,0,1416.0,2617,3081.0,2357.0,9471

In [8]:
len(df)

210

In [14]:
d2 = df.loc[(df['High Temp (°F)'] > 50)]
d2 = d2.loc[(d2['Brooklyn Bridge'] < 1000)]

In [19]:
x = df.drop(['Brooklyn Bridge', 'Manhattan Bridge', 'Williamsburg Bridge', 'Queensboro Bridge', 'Total'], axis=1)

In [21]:
y = df['Brooklyn Bridge']

In [22]:
x.dropna(axis='columns')

,Unnamed: 0,Date,Day,High Temp (°F),Low Temp (°F),Precipitation
0,0,2016-04-01 00:00:00,2016-04-01 00:00:00,78.1,66.0,0.01
1,1,2016-04-02 00:00:00,2016-04-02 00:00:00,55.0,48.9,0.15
2,2,2016-04-03 00:00:00,2016-04-03 00:00:00,39.9,34.0,0.09
3,3,2016-04-04 00:00:00,2016-04-04 00:00:00,44.1,33.1,0.47
4,4,2016-04-05 00:00:00,2016-04-05 00:00:00,42.1,26.1,0
...,...,...,...,...,...,...
205,205,2016-04-26 00:00:00,2016-04-26 00:00:00,60.1,46.9,0.24
206,206,2016-04-27 00:00:00,2016-04-27 00:00:00,62.1,46.9,0
207,207,2016-04-28 00:00:00,2016-04-28 00:00:00,57.9,48.0,0
208,208,2016-04-29 00:00:00,2016-04-29 00:00:00,57.0,46.9,0.05
209,209,2016-04-30 00:00:00,2016-04-30 00:00:00,64.0,48.0,0

In [41]:
datetime.strptime(x['Day'][1], '%Y-%m-%d %H:%M:%S').weekday()

5

In [43]:
days = []
for date in df['Day']:
    days.append(datetime.strptime(date, '%Y-%m-%d %H:%M:%S').weekday())