In [106]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn import svm
from datetime import datetime
df = pd.read_csv('https://raw.githubusercontent.com/erood/interviewqs.com_code_snippets/master/Datasets/nyc_east_river_bicycle_counts.csv')

print(df.columns.values)

['Unnamed: 0' 'Date' 'Day' 'High Temp (°F)' 'Low Temp (°F)'
 'Precipitation' 'Brooklyn Bridge' 'Manhattan Bridge'
 'Williamsburg Bridge' 'Queensboro Bridge' 'Total']

In [91]:
df.head()

,Unnamed: 0,Date,Day,High Temp (°F),Low Temp (°F),Precipitation,Brooklyn Bridge,Manhattan Bridge,Williamsburg Bridge,Queensboro Bridge,Total
0,0,2016-04-01 00:00:00,2016-04-01 00:00:00,78.1,66.0,0.01,1704.0,3126,4115.0,2552.0,11497
1,1,2016-04-02 00:00:00,2016-04-02 00:00:00,55.0,48.9,0.15,827.0,1646,2565.0,1884.0,6922
2,2,2016-04-03 00:00:00,2016-04-03 00:00:00,39.9,34.0,0.09,526.0,1232,1695.0,1306.0,4759
3,3,2016-04-04 00:00:00,2016-04-04 00:00:00,44.1,33.1,0.47,521.0,1067,1440.0,1307.0,4335
4,4,2016-04-05 00:00:00,2016-04-05 00:00:00,42.1,26.1,0,1416.0,2617,3081.0,2357.0,9471

In [92]:
len(df)

210

In [93]:
df = df.drop(df[df['Precipitation']=='T'].index)

In [14]:
d2 = df.loc[(df['High Temp (°F)'] > 50)]
d2 = d2.loc[(d2['Brooklyn Bridge'] < 1000)]

In [94]:
x = df.drop(['Brooklyn Bridge', 'Manhattan Bridge', 'Williamsburg Bridge', 'Queensboro Bridge', 'Total','Date','Day', 'Unnamed: 0'], axis=1)
y = df['Brooklyn Bridge']

In [96]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [76]:
x.head()

   High Temp (°F)  Low Temp (°F) Precipitation
0            78.1           66.0          0.01
1            55.0           48.9          0.15
2            39.9           34.0          0.09
3            44.1           33.1          0.47
4            42.1           26.1             0

In [77]:
days = []
for date in df['Day']:
    days.append(datetime.strptime(date, '%Y-%m-%d %H:%M:%S').weekday())
x['weekday'] = days

In [110]:
rf_model = RandomForestRegressor()
rf_model.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [99]:
sv = svm.SVR()
sv.fit(X_train,y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [111]:
y_pred = rf_model.predict(X_test)

In [112]:
y_pred

array([3499.7 , 3133.04, 1416.  ,  507.42, 2810.03,  535.47, 1875.93,
        507.42, 2840.  ,  507.42,  535.47, 2840.  , 2055.  , 2384.  ,
       2004.77, 1982.  , 2854.41, 2384.  , 3862.3 ,  507.42, 2384.  ,
        827.  , 1875.93, 3449.86, 3182.96, 3343.  , 2854.41, 1982.  ,
       3133.04, 1447.  , 3182.96,  525.95, 3133.04, 3133.04, 2810.03,
       2810.03, 2854.41, 2004.77, 1416.  , 3862.3 , 1447.  , 1704.  ,
       2486.  , 2486.  , 2770.  ,  535.47, 3463.  ,  507.42,  525.95,
       1997.  , 3499.7 , 1875.93, 2810.03, 3182.96, 2055.  , 3862.3 ,
       1997.  ,  827.  ,  525.95, 1045.  , 2375.  ])

In [105]:
y_test

18     3501.0
46     3147.0
34     1416.0
38      504.0
113    2798.0
        ...
25     1997.0
31      827.0
122     526.0
41     1045.0
58     2375.0
Name: Brooklyn Bridge, Length: 61, dtype: float64

In [83]:
x.dtypes

dtype('O')

In [81]:
x = x.astype({'Precipitation' : 'float64'}).dtypes

In [72]:
df

,Unnamed: 0,Date,Day,High Temp (°F),Low Temp (°F),Precipitation,Brooklyn Bridge,Manhattan Bridge,Williamsburg Bridge,Queensboro Bridge,Total
0,0,2016-04-01 00:00:00,2016-04-01 00:00:00,78.1,66.0,0.01,1704.0,3126,4115.0,2552.0,11497
1,1,2016-04-02 00:00:00,2016-04-02 00:00:00,55.0,48.9,0.15,827.0,1646,2565.0,1884.0,6922
2,2,2016-04-03 00:00:00,2016-04-03 00:00:00,39.9,34.0,0.09,526.0,1232,1695.0,1306.0,4759
3,3,2016-04-04 00:00:00,2016-04-04 00:00:00,44.1,33.1,0.47,521.0,1067,1440.0,1307.0,4335
4,4,2016-04-05 00:00:00,2016-04-05 00:00:00,42.1,26.1,0,1416.0,2617,3081.0,2357.0,9471
...,...,...,...,...,...,...,...,...,...,...,...
205,205,2016-04-26 00:00:00,2016-04-26 00:00:00,60.1,46.9,0.24,1997.0,3520,4559.0,2929.0,13005
206,206,2016-04-27 00:00:00,2016-04-27 00:00:00,62.1,46.9,0,3343.0,5606,6577.0,4388.0,19914
207,207,2016-04-28 00:00:00,2016-04-28 00:00:00,57.9,48.0,0,2486.0,4152,5336.0,3657.0,15631
208,208,2016-04-29 00:00:00,2016-04-29 00:00:00,57.0,46.9,0.05,2375.0,4178,5053.0,3348.0,14954
209,209,2016-04-30 00:00:00,2016-04-30 00:00:00,64.0,48.0,0,3199.0,4952,5675.0,3606.0,17432